.env
__pycache__
.DS_Store
node_modules/
frontend/build/
api/.deps/
extract.log
api/flask_session/*
!api/flask_session/.gitkeep
api/data/upload/*
!api/data/upload/.gitkeep
!api/data/upload/meta/
!api/data/upload/story/
!api/data/upload/task/
api/data/upload/meta/*
!api/data/upload/meta/.gitkeep
api/data/upload/story/*
!api/data/upload/story/.gitkeep
api/data/upload/task/*
!api/data/upload/task/.gitkeep
